.input {
  margin-bottom: 2%;
  width: 418px;
  height: 42px;
  left: 0px;
  top: 24px;
  padding: 10px;
  text-align: center;
  border: none;
  margin: 0 auto;

  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.input-description {
  width: 418px;
  height: 117px;
  text-align: left;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  border: none;
  background: #ffffff;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .input {
    width: 295px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .input-description {
    width: 295px;
    height: 117px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .popup{
    width: 100px;
  }
}

.heading {
  display: flex;
  justify-content: center;
}

.mint {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: black;
  width: 216px;
  height: 48px;
  color: white;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0 45px;

  border-radius: 50px;
}


.upload{
    margin: 0 auto;
    display: flex;

}

.popup{
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
}

.wallet{
    background-color: red;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    margin: 10px auto;

}